{% extends 'app/base.html' %}
{% load static %}
{% block title %} Wishlist {% endblock title %}
{% block main-content %}

<div class="container my-10">
    <div class="row">
        <div class="col-sm-6"> <br>
            <div class="row">
                {% for prod in product %}
                    <div class="col-sm-6 text-center mb-6 hower-shadow">
                        <a href="{% url 'product-detail' prod.product.id %}" class="btn">
                            <div>
                                <img src="{{prod.product.product_image.url}}" width="250px" height="250px" />
                                <div class="fw-bold"> {{prod.product.title}} </div>
                                <div class="fw-bold text-success">
                                    Rs.{{prod.product.discounted_price}}/-
                                    <div class="fw-bold text-danger text-decoration-line-through"> {{prod.product.selling_price}}/- </div>
                                </div>
                            </div> <br>
                        </a> <br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> <br>
{% endblock main-content %}